# EditorConfig is awesome: https://EditorConfig.org

root = true

# All files
[*]
indent_style = space
indent_size = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Markdown
[*.md]
trim_trailing_whitespace = false

# XML / XAML / Project files
[*.{xml,xaml,csproj,props,targets,pubxml}]
indent_size = 2

# JSON files
[*.json]
indent_size = 2

# C# files
[*.cs]
indent_size = 4

# Standard C# formatting preferences
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_preserve_single_line_blocks = true
csharp_preserve_single_line_statements = true

# Code style defaults
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false
